@charset "utf-8";
header {
    display: flex;
    width: 1240px;
    margin: 0 auto 44px;
  }
  h1 {
    text-align: left;
    padding: 20px 0px 16px;
  }
  header nav ul {
    justify-content: right;
}